<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="app-container">
    <h2>Edit Student</h2>

    <form action="/update/{{ student.id }}" method="post" class="form-row">
        <input type="text" name="name" value="{{ student.name }}" required>
        <input type="text" name="course" value="{{ student.course }}" required>
        <input type="email" name="email" value="{{ student.email }}" required>

        <button type="submit" class="btn edit-btn">Update</button>
        <a href="/"><button type="button" class="btn">Back</button></a>
    </form>
</div>

</body>
</html>
